# Configuration du serveur
PORT=3000
NODE_ENV=development
SESSION_SECRET=WK8GdhXiMBb3o4wXoTkaCb+4BpvVd2Kpa9rYZxI/DEd7eWuoaGSHXz+mmU7eW23UTtIHF/wBJ16fhsV7RTdP/Q==
# Configuration Supabase (PostgreSQL)
SUPABASE_URL=postgresql://postgres:IWmzO3yyth9DwgnT@db.dumghtjbzadgwwcxxmla.supabase.co:5432/postgres
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR1bWdodGpiemFkZ3d3Y3h4bWxhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTE1Mzg1ODAsImV4cCI6MjEwNzExNDU4MH0.Gwg0slZnO6guRCIznv7rdT325W6xezCttnbZGWwZDp8
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR1bWdodGpiemFkZ3d3Y3h4bWxhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MTUzODU4MCwiZXhwIjoyMTA3MTE0NTgwfQ.AEbGIC2SpEbaj05Sz1pq7SDGV9lTBDMajdJk1p3azLY
